<html>
  <head>
    <title>Welcome to blyat'</title>
  </head>
  <body>
    <h1>nginx, configured by blyat'</h1>
    <p>If you can see this, blyat' successfully installed nginx.</p>
    <p>{{ ansible_managed }}</p>
  </body>
</html>
